<div class="question-item">
  <div class="question-header">
    <div class="question-text">
      <div class="question-number-container">
        <span class="question-number"> {{ questionNumber }} </span>
      </div>
      <span class="question-name">
        {{ question.text }}
      </span>

      <mat-checkbox *ngIf="showCheckBox" class="question-checkbox" [(ngModel)]="selected" (change)="onSelectedChange($event)">
      </mat-checkbox>
    </div>
    <div class="icons">
      <app-difficulty-badge
        *ngIf="showDifficulty"
        [difficulty]="{ id: question.difficultyId, name: question.difficultyName }"></app-difficulty-badge>
      <mat-icon *ngIf="showTrash" (click)="deleteClick($event)">delete</mat-icon>
      <mat-icon *ngIf="showEdit" (click)="editClick()">edit</mat-icon>
    </div>
  </div>
  <div class="question-options">
    <app-question-option-without-checkbox
      class="question-option"
      *ngFor="let option of question.options; let i = index"
      [showAutorenew]="false"
      [showTrash]="false"
      [showIncorrect]="false"
      [optionLabel]="getOptionLabel(i)"
      [label]="option.text"
      [status]="option.isCorrect ? IQuestionOptionStatus.CORRECT : IQuestionOptionStatus.INCORRECT"></app-question-option-without-checkbox>
  </div>
</div>
