<div class="question-item">
  <div class="question-header">
    <div class="question-text">
      <span class="question-number"> {{ questionNumber }} </span>
      {{ question.text }}
      <mat-checkbox *ngIf="showCheckBox" class="question-checkbox" (change)="checkBoxChange($event)"> </mat-checkbox>
    </div>
    <div class="icons">
      <mat-icon *ngIf="showTrash" (click)="deleteClick()">delete</mat-icon>
      <mat-icon *ngIf="showEdit" (click)="editClick()">edit</mat-icon>
    </div>
  </div>
  <div class="question-options">
    <app-question-option
      *ngFor="let option of question.options; let i = index"
      [showClose]="false"
      [isMultipleChoice]="question.isMultipleChoice"
      [status]="option.isCorrect ? IQuestionOptionStatus.CORRECT : IQuestionOptionStatus.NORMAL"
      [label]="getOptionLabel(i) + '. ' + option.text">
    </app-question-option>
  </div>
</div>
