<div class="question-item">
  <p class="text">
    <span>
      {{ question.text }}
      <mat-checkbox *ngIf="showCheckBox" class="example-margin" (change)="checkBoxChange($event)"></mat-checkbox>
    </span>
    <span>
      <mat-icon (click)="deleteClick()">delete</mat-icon>
      <mat-icon (click)="editClick()">edit</mat-icon>
    </span>
  </p>
  <app-question-option
    [showClose]="false"
    *ngFor="let option of question.options"
    [isMultipleChoice]="question.isMultipleChoice"
    [status]="option.isCorrect ? IQuestionOptionStatus.CORRECT : IQuestionOptionStatus.NORMAL"
    [label]="option.text"></app-question-option>
</div>
