<div>
  <div class="exercise-header">
    <div class="exercise-title">
      <h1>{{ exercise.name }}</h1>
      <mat-icon *ngIf="!isStudent" class="badge bg-dark">edit</mat-icon>
    </div>
    <div class="exercise-info">
      <span class="badge bg-dark">
        {{ exercise.difficultyName | titlecase }}
      </span>
      <span class="badge bg-dark" *ngIf="exercise.time">{{ exercise.time }} phút </span>
    </div>
  </div>

  <div *ngIf="exercise.dueDate" class="exercise-secondary">
    <p>Deadline: {{ exercise.dueDate | date: 'dd/MM/yyyy' }}</p>
    <p>Điểm: {{ exercise.point }}</p>
  </div>

  <div *ngIf="!isStudent && !exercise.isActive" class="buttons">
    <app-secondary-button [routerLink]="['/exercise', exerciseId, 'question-category']">Chọn câu hỏi từ bộ câu hỏi</app-secondary-button>
    <app-primary-button *ngIf="!exercise.isActive && totalItems > 0" (click)="activateClicked()">Kích hoạt</app-primary-button>
    <app-warn-button *ngIf="selectedQuestionIds?.length > 0" (click)="removeClicked()">Xóa khỏi bài tập này</app-warn-button>
  </div>
</div>
