.post-item {
  &__header {
    display: flex;
    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .info {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      .author {
        font-size: 14px;
        font-weight: bold;
      }
      .date {
        font-size: 12px;
        color: #666;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .attachments {
      display: flex;
    }
  }
}
