<div class="post-item">
  <div class="post-item__header">
    <img class="avatar" [src]="post.createdByImageUrl" [alt]="post.createdByDisplayName" />
    <div class="info">
      <span class="author">{{ post.createdByDisplayName }}</span>
      <span class="date">{{ post.createdAt | date: 'dd/MM/yyyy' }}</span>
    </div>

    <mat-icon class="icon">edit</mat-icon>
    <mat-icon class="icon">delete</mat-icon>
  </div>

  <div class="post-item__body">
    <app-text-editor-viewer [value]="post.content"></app-text-editor-viewer>

    <div class="attachments">
      <app-post-attachment *ngFor="let attachment of post.attachments" [attachment]="attachment"></app-post-attachment>
    </div>
  </div>
</div>
