<div *ngIf="course" class="d-flex flex-column justify-content-center">
  <div class="thumpnail mb-2">
    <img
      [src]="
        course.imageUrl ||
        'https://plus.unsplash.com/premium_photo-1681319553238-9860299dfb0f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8d2Vic2l0ZXxlbnwwfHwwfHx8MA%3D%3D'
      " />
  </div>
  <div *ngIf="isStudent()">
    <app-primary-button *ngIf="!isRegisted" (click)="registerClick()">Đăng ký</app-primary-button>
    <app-warn-button *ngIf="isRegisted" (click)="unRegisterClick()">Hủy đăng ký</app-warn-button>
  </div>

  <ul>
    <li *ngIf="course.levelName">
      <mat-icon class="me-1 align-middle">bar_chart</mat-icon>
      Trình độ <b>{{ course.levelName }}</b>
    </li>
    <li *ngIf="course.lessonCount">
      <mat-icon class="me-1 align-middle">school</mat-icon>
      Tổng số <b>{{ course.lessonCount || 0 }} </b>bài học
    </li>
    <li *ngIf="course.hours">
      <mat-icon class="me-1 align-middle">access_time</mat-icon>
      Thời lượng <b>{{ course.hours }} </b>tiếng
    </li>
  </ul>
</div>
