.icons {
  display: flex;
  align-items: center;
}

mat-icon {
  cursor: pointer;
  margin-right: 5px;
  background: black;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: white;
  }
}
