<div class="exercise" [class.completed]="exercise.isSubmitted">
  <div class="icon-container">
    <mat-icon class="icon">exercise</mat-icon>
  </div>
  <div class="exercise-details">
    <p class="exercise-name">{{ exercise.name }}</p>
  </div>

  <div class="button-container">
    <div *ngIf="exercise.point && isStudent()" class="grade">{{ exercise.point }} Điểm</div>
    <app-warn-button *ngIf="!isStudent() && isYourCourse" (click)="delete($event)">Xóa</app-warn-button>
    <div *ngIf="isStudent()" class="status">
      <div *ngIf="exercise.dueDate && isStudent() && !isMissing() && !exercise.isSubmitted" class="exercise-time">
        <mat-icon class="align-middle">access_time</mat-icon>
        {{ exercise.dueDate | date: 'dd/MM/yyyy' }}
      </div>
      <div *ngIf="exercise.isStartDoing && !exercise.isSubmitted && isStudent()" class="exercise-doing">Đang làm</div>
      <span *ngIf="isLate()" class="exercise-late">
        <mat-icon class="late-icon">warning</mat-icon>
        <p>Nộp trễ</p>
      </span>
      <span *ngIf="isMissing()" class="exercise-due">
        <mat-icon class="missing-icon">error_outline</mat-icon>
        <p>Quên làm</p>
      </span>
      <mat-icon *ngIf="exercise.isSubmitted && isStudent() && !isLate()" class="completed-icon">check_circle</mat-icon>
    </div>
  </div>
</div>
