.item {
  border: 1px solid black;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  font-size: 30px;
  margin-bottom: 20px;

  &:hover {
    cursor: pointer;
    background-color: #f5f5f5;
  }
}

.text {
  font-size: 25px;
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  .question-number {
    background: black;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
