<div class="question-category-list">
  <h1>Danh mục câu hỏi</h1>
  <div class="d-flex">
    <app-primary-button [routerLink]="'/question/question-category/create'">Tạo danh mục câu hỏi</app-primary-button>
  </div>
  <mat-divider class="my-3"></mat-divider>
  <app-question-category-item
    *ngFor="let questionCategory of questionCategories"
    [routerLink]="['/question/question-category', questionCategory.id]"
    [questionCategory]="questionCategory"></app-question-category-item>

  <mat-paginator
    *ngIf="totalItems > 0"
    [pageSizeOptions]="[5, 10]"
    [pageIndex]="page - 1"
    [pageSize]="itemsPerPage"
    [length]="totalItems"
    (page)="handlePageChange($event)"></mat-paginator>
</div>
