<div>
  <div>
    <app-lesson-download
      [isStudent]="isStudent()"
      (onDelete)="onDelete()"
      *ngFor="let attachment of attachments"
      [attachment]="attachment"></app-lesson-download>

    <mat-paginator
      *ngIf="totalItems > 0"
      [pageSizeOptions]="[5, 10]"
      [pageIndex]="page - 1"
      [pageSize]="itemsPerPage"
      [length]="totalItems"
      (page)="handlePageChange($event)"
      aria-label="Select page of users"></mat-paginator>
  </div>

  <div *ngIf="!isStudent()">
    <app-files-input-group
      [accept]="'*'"
      [files]="attachmentsCreating"
      (filesChange)="onFilesChange($event)"
      [label]="'Đính kèm'"></app-files-input-group>

    <div class="d-flex">
      <app-primary-button (click)="upload()">Tải lên</app-primary-button>
    </div>
  </div>
</div>
