<mat-nav-list>
  <mat-list-item>
    <a matLine>{{ title }}</a>
    <span class="align-middle">
      <mat-icon *ngIf="!toggle && expandIcon" (click)="toggle = !toggle">expand_more</mat-icon>
      <mat-icon *ngIf="toggle && expandIcon" (click)="toggle = !toggle">expand_less</mat-icon>
      <mat-icon *ngIf="editIcon" [routerLink]="editRoute">edit</mat-icon>
      <mat-icon *ngIf="deleteIcon" (click)="onDelete()">delete</mat-icon>
      <mat-icon *ngIf="addIcon" [routerLink]="addRoute">add</mat-icon>
    </span>
  </mat-list-item>

  <div [hidden]="!toggle">
    <app-basic-list class="item-list" (onEditClick)="clickEdit($event)" [editIcon]="true" [items]="items"></app-basic-list>
  </div>
</mat-nav-list>
