<div>
  <div class="item" (click)="toggle = !toggle">
    <a matLine>
      <span class="me-2" *ngIf="expandIcon">
        <mat-icon class="align-middle" *ngIf="!toggle">expand_more</mat-icon>
        <mat-icon class="align-middle" *ngIf="toggle">expand_less</mat-icon>
      </span>
      <span class="fw-bold">
        {{ title }}
      </span>
    </a>
    <span *ngIf="showIcons" class="align-middle">
      <mat-icon class="edit" *ngIf="editIcon" [routerLink]="editRoute">edit</mat-icon>
      <mat-icon class="delete" *ngIf="deleteIcon" (click)="onDelete()">delete</mat-icon>
      <mat-icon class="add" *ngIf="addIcon" [routerLink]="addRoute">add</mat-icon>
    </span>
  </div>
  <div [@expandCollapse]="toggle ? 'expanded' : 'collapsed'">
    <app-basic-list
      class="item-list"
      (itemClick)="onItemClicked($event)"
      (editClick)="onEditClicked($event)"
      [editIcon]="showIcons"
      [items]="items"></app-basic-list>
  </div>
</div>
