<div class="category-edit">
  <app-text-input-group icon="school" [label]="'Tên'" [name]="'name'" [(value)]="dto.name"></app-text-input-group>
  <app-textarea-group icon="description" [label]="'Mô tả'" [name]="'description'" [(value)]="dto.description"></app-textarea-group>
  <div class="button-group">
    <button *ngIf="dto.name" mat-raised-button color="primary" (click)="confirmUpdate()">Xác nhận</button>
    <button mat-raised-button color="warn" (click)="cancel()">Hủy</button>
  </div>
</div>
