<div class="mb-3">
  <label class="label" [for]="name" [class.asterix]="required">{{ label }}</label>
  <div *ngIf="!createShow" class="add" (click)="createShow = true">+</div>

  <div class="create" *ngIf="createShow">
    <app-text-input-group [label]="'Tiêu đề câu trả lời'" [(value)]="option.text" [name]="'option'"></app-text-input-group>
    <div class="radio">
      <div>
        <label for="isCorrectTrue" class="me-1">Đúng</label>
        <input type="radio" [name]="name + 'isCorrect'" id="isCorrectTrue" [(ngModel)]="option.isCorrect" [value]="true" />
      </div>

      <div>
        <label for="isCorrectFalse" class="me-1">Sai</label>
        <input type="radio" [name]="name + 'isCorrect'" id="isCorrectFalse" [(ngModel)]="option.isCorrect" [value]="false" />
      </div>
    </div>

    <div class="d-flex">
      <app-secondary-button (click)="createOption()">Thêm</app-secondary-button>
    </div>
    <mat-icon (click)="createShow = false" class="close">close</mat-icon>
  </div>
  <app-question-option
    *ngFor="let option of options; let i = index"
    [status]="option.isCorrect ? IQuestionOptionStatus.CORRECT : IQuestionOptionStatus.INCORRECT"
    [label]="getOptionLabel(i) + '. ' + option.text"></app-question-option>
</div>
