<app-header *ngIf="isAuthenticated" (toggleSidebar)="onToggleSidebar()"></app-header>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img routerLink="/profile" class="avatar mat-elevation-z8" [src]="profile?.imageUrl" role="button" />

    <h4 class="name">{{ _user?.displayName || _user?.username }}</h4>
    <p class="designation" *ngFor="let role of _user?.roles">{{ role }}</p>

    <mat-divider></mat-divider>
    <div *ngIf="isAdmin()">
      <button mat-button class="menu-button" routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </button>

      <button mat-button class="menu-button" routerLink="/student">
        <mat-icon>person</mat-icon>
        <span>Học sinh</span>
      </button>

      <button mat-button class="menu-button" routerLink="/course">
        <mat-icon>book</mat-icon>
        <span>Khóa học</span>
      </button>

      <button mat-button class="menu-button" routerLink="/category">
        <mat-icon>category</mat-icon>
        <span>Danh mục</span>
      </button>

      <button mat-button class="menu-button" routerLink="/question">
        <mat-icon>live_help</mat-icon>
        <span>Bộ câu hỏi</span>
      </button>
    </div>

    <div *ngIf="isStudent()">
      <button mat-button class="menu-button" routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Trang chủ</span>
      </button>

      <button mat-button class="menu-button" routerLink="/course">
        <mat-icon>book</mat-icon>
        <span>Khóa học</span>
      </button>
    </div>
    <mat-divider></mat-divider>

    <div>
      <button mat-button class="menu-button" (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Đăng xuất</span>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
