<div class="header">
  <h1 class="title">Khóa học</h1>
  <app-primary-button (click)="routeToCreateCategory()">Tạo danh mục</app-primary-button>
</div>

<mat-divider class="mb-3"></mat-divider>

<app-course-group
  (categoryDeleted)="onCategoryDeleted($event)"
  [assignmentIcon]="!isStudent()"
  *ngFor="let category of categories"
  [category]="category"></app-course-group>
<div>
  <div class="title">
    <h2>Khóa học khác</h2>
    <mat-icon class="icon" *ngIf="!isStudent()" routerLink="/course/create">add</mat-icon>
  </div>
  <app-course-cards
    (onDelete)="delete($event)"
    [assignmentIcon]="!isStudent()"
    [courses]="uncategorizedCourses"
    [options]="courseCardOption"></app-course-cards>
</div>
