.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    font-weight: 600;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
