.file-submission {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;

  .file-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  .buttons {
    margin-left: auto;

    .delete {
      color: #ff0000;
    }

    .view {
      color: #007bff;
    }
  }
}
.doc-viewer-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100; /* Ensure it's above other content */
  opacity: 0.6;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #fff; /* or any color that makes it visible on your overlay */
}
