<div class="file-submission" *ngIf="submission" [matTooltip]="submission.attachmentName">
  <mat-icon>insert_drive_file</mat-icon>
  <div class="file-info">
    <span class="file-title">{{ submission.attachmentName | truncate: 10 }}</span>
    <span class="file-status">{{ submission.attachmentCreatedAt | date: 'dd/MM/yyyy' }}</span>
  </div>

  <div class="buttons">
    <mat-icon *ngIf="isYourFile()" (click)="delete()" class="delete" role="button">close</mat-icon>
    <mat-icon class="view" role="button">remove_red_eye</mat-icon>
  </div>
</div>
