<li
  class="question-option"
  [class.selected]="status === IQuestionOptionStatus.SELECTED"
  [class.correct]="status === IQuestionOptionStatus.CORRECT"
  [class.incorrect]="status === IQuestionOptionStatus.INCORRECT">
  <!-- Material Checkbox -->
  <mat-checkbox *ngIf="isMultipleChoice" [name]="name" [(ngModel)]="selected" (click)="checkboxClick($event)" (change)="onSelectedChange()">
    {{ label }}
  </mat-checkbox>

  <!-- Material Radio Button -->
  <mat-radio-group
    *ngIf="!isMultipleChoice"
    [name]="name"
    [(ngModel)]="selected"
    (click)="radioClick($event)"
    (change)="onSelectedChange()">
    <mat-radio-button>
      {{ label }}
    </mat-radio-button>
  </mat-radio-group>

  <div class="buttons">
    <mat-icon *ngIf="showCorrect && status !== IQuestionOptionStatus.CORRECT" class="correct" (click)="correctClick()">check</mat-icon>
    <mat-icon *ngIf="showClose && status !== IQuestionOptionStatus.INCORRECT" class="incorrect" (click)="uncorrectClick()">close</mat-icon>
    <mat-icon *ngIf="showTrash" class="trash" (click)="removeClick()">delete</mat-icon>
  </div>
</li>
