<div *ngIf="lesson">
  <app-assignment-item
    [isYourCourse]="isYourCourse()"
    [routerLink]="['/assignment', assignment.id]"
    (onDelete)="delete(assignment.id)"
    *ngFor="let assignment of assignments"
    [assignment]="assignment"></app-assignment-item>

  <mat-paginator
    *ngIf="totalItems > 0"
    [pageSizeOptions]="[5, 10]"
    [pageIndex]="page - 1"
    [pageSize]="itemsPerPage"
    [length]="totalItems"
    (page)="handlePageChange($event)"
    aria-label="Select page of users"></mat-paginator>

  <div class="d-flex justify-content-end" *ngIf="!isStudent() && isYourCourse()">
    <app-primary-button [routerLink]="['/assignment/create']" [queryParams]="{ lessonId: lessonId }">Tạo</app-primary-button>
  </div>
</div>
