<div *ngIf="category">
  <div class="header">
    <h2 class="title">
      {{ category.name }}
      <mat-icon *ngIf="isYourCategory()" class="icon" [routerLink]="['/category', categoryId, 'edit']">edit</mat-icon>
    </h2>
    <app-primary-button (click)="createCourse()">Tạo khóa học</app-primary-button>
  </div>
  <app-text-editor-viewer [value]="category.description"></app-text-editor-viewer>
</div>
<div *ngIf="coursePaginated">
  <app-course-cards [courses]="coursePaginated.data" [options]="courseCardOption" (onDelete)="delete($event)"></app-course-cards>
  <mat-paginator
    *ngIf="totalItems > 0"
    [pageSizeOptions]="[5, 10]"
    [pageIndex]="page - 1"
    [pageSize]="itemsPerPage"
    [length]="totalItems"
    (page)="handlePageChange($event)"
    aria-label="Select page of users"></mat-paginator>
</div>
