<div class="course-card" *ngIf="course">
  <app-image-card
    (onDeleteClick)="delete()"
    (onCloseClick)="remove()"
    class="image-card"
    role="button"
    [option]="option"
    [isEdit]="isEdit"
    [src]="course.imageUrl"
    [alt]="course.name"></app-image-card>

  <div class="course-info">
    <div class="course-name">{{ course.name }}</div>
    <div *ngIf="showStudentCount">
      <mat-icon class="icon">group</mat-icon>
      {{ course.studentCount }}
    </div>
  </div>

  <!-- <div class="course-info"> -->
  <!--   <div *ngIf="assignmentIcon" class="assignment-button"> -->
  <!--     <mat-icon class="assignment" role="button" (click)="assignmentClick($event)" -->
  <!--       >assignment -->
  <!--       <span *ngIf="course.unsubmittedPendingCount > 0" class="assignment-count">{{ course.unsubmittedPendingCount }}</span> -->
  <!--     </mat-icon> -->
  <!--   </div> -->
  <!-- </div> -->
</div>
