<mat-toolbar color="primary" class="toolbar">
  <div class="left-items">
    <mat-icon class="menu" (click)="onToggleSidebar()">menu</mat-icon>
    <span class="navbar-brand mb-0 h1">Elearning</span>
  </div>

  <!-- <div class="search-container"> -->
  <!--   <mat-form-field subscriptSizing="dynamic"> -->
  <!--     <mat-label>Search</mat-label> -->
  <!--     <input matInput placeholder="Tìm kiếm khóa học, bài viết, video, ..." /> -->
  <!--   </mat-form-field> -->
  <!-- </div> -->

  <!-- <div class="right-items"> -->
  <!--   <mat-icon class="search" (click)="showMobileSearch()">search</mat-icon> -->
  <!--   <mat-icon>account_circle</mat-icon> -->
  <!-- </div> -->

  <app-notification-dropdown class="me-4"></app-notification-dropdown>

  <mat-toolbar class="mobile-header" *ngIf="mobileSearchVisibility">
    <mat-list>
      <mat-list-item>
        <mat-icon class="back" id="back-arrow" (click)="hideMobileSearch()">arrow_back</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field subscriptSizing="dynamic" class="mobile-search">
          <input matInput id="search-field" type="text" placeholder="Tìm kiếm.." name="search" />
        </mat-form-field>
      </mat-list-item>
    </mat-list>
  </mat-toolbar>
</mat-toolbar>
