.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  postition: relative;
  padding: 0 1rem;
}

.left-items,
.right-items {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.right-items {
  .search {
    display: none;
  }
}

.search-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  mat-form-field {
    min-width: 500px;
  }
}

// Mobile search
.mobile-header {
  position: absolute;
  inset: 0;
  background-color: white;
  box-shadow: 0px 2px 10px rgba(85, 80, 80, 0.29);
  mat-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .mobile-search {
    width: 100%;
  }
}

.menu {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .search-container {
    display: none;
  }

  .right-items {
    .search {
      display: block;
    }
  }

  .menu {
    display: block;
  }
}
