<app-select-list (selectedChange)="optionChange($event)" [options]="options"></app-select-list>
<div class="container-fluid">
  <div class="row">
    <!-- Report Card 1 -->
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let submission of submissions">
      <div class="report-card">
        <div class="report-info">
          <div class="student-name">
            <img class="student-avatar" src="https://via.placeholder.com/50" alt="" />
            {{ submission.studentName }}
          </div>
          <div class="attachment-info" role="button" (click)="attachmentClick(submission.id)">{{ submission.attachmentName }}</div>
          <div class="status-info">{{ submission.attachmentCreatedAt | date: 'dd/MM/yyyy' }}</div>
        </div>
      </div>
    </div>

    <!-- Repeat the above block for each report card, changing the student info as needed -->
  </div>
</div>
