.list-item {
  padding: 8px 16px;
  cursor: pointer;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    background-color: #e0e0e0;
  }
}

.icon {
  vertical-align: middle;
}

.button-container {
  margin-left: auto;
}
