<div *ngFor="let lesson of lessons" (click)="routeToLesson(lesson.id)" class="list-item">
  <span>
    <mat-icon *ngIf="lesson.videoDuration" class="icon">videocam</mat-icon>
    <mat-icon *ngIf="!lesson.videoDuration" class="icon">article</mat-icon>
    {{ lesson.title }}
    <mat-icon *ngIf="!isStudent" (click)="routeToEdit($event, lesson.id)" class="icon">edit</mat-icon>
    <mat-icon *ngIf="!isStudent" (click)="delete($event, lesson.id)" class="icon">delete</mat-icon>
  </span>

  <span>
    {{ lesson.videoDuration }}
  </span>
</div>
