<a (click)="routeToNotification(notification)" role="button" class="dropdown-item" *ngFor="let notification of notifications">
  <app-notification-item
    *ngIf="notification.commentOwnerId"
    (onCheckBoxChange)="onCheckBoxChange($event, notification.id)"
    [createdAt]="notification.createdAt"
    [title]="notification.commentOwnerDisplayName"
    [content]="notification.content"
    [imageUrl]="notification.commentOwnerImageUrl"
    [userId]="notification.commentOwnerId"
    [username]="notification.commentOwnerUsername"
    [showCheckbox]="showCheckbox"></app-notification-item>

  <app-notification-item
    *ngIf="notification.exerciseId"
    (onCheckBoxChange)="onCheckBoxChange($event, notification.id)"
    [createdAt]="notification.createdAt"
    [title]="notification.title"
    [content]="notification.content"
    imageUrl="assets/images/book.png"
    [showCheckbox]="showCheckbox"></app-notification-item>

  <app-notification-item
    *ngIf="notification.exerciseSubmitId"
    (onCheckBoxChange)="onCheckBoxChange($event, notification.id)"
    [createdAt]="notification.createdAt"
    [title]="notification.title"
    [content]="notification.content"
    imageUrl="assets/images/check-mark.jpg"
    [showCheckbox]="showCheckbox"></app-notification-item>

  <app-notification-item
    *ngIf="notification.assignmentId || notification.assignmentSubmitAssignmentId"
    (onCheckBoxChange)="onCheckBoxChange($event, notification.id)"
    [createdAt]="notification.createdAt"
    [title]="notification.title"
    [content]="notification.content"
    imageUrl="assets/images/assignment.png"
    [showCheckbox]="showCheckbox"></app-notification-item>

  <app-notification-item
    *ngIf="notification.lessonId"
    (onCheckBoxChange)="onCheckBoxChange($event, notification.id)"
    [createdAt]="notification.createdAt"
    [title]="notification.title"
    [content]="notification.content"
    imageUrl="assets/images/new-lesson.png"
    [showCheckbox]="showCheckbox"></app-notification-item>

  <app-notification-item
    *ngIf="
      !notification.lessonId &&
      !notification.commentOwnerId &&
      !notification.postId &&
      !notification.exerciseId &&
      !notification.exerciseSubmitId &&
      !notification.assignmentId &&
      !notification.assignmentSubmitAssignmentId &&
      notification.courseId
    "
    (onCheckBoxChange)="onCheckBoxChange($event, notification.id)"
    [createdAt]="notification.createdAt"
    [title]="notification.title"
    [content]="notification.content"
    imageUrl="assets/images/new-lesson.png"
    [showCheckbox]="showCheckbox"></app-notification-item>

  <app-notification-item
    *ngIf="notification.postId"
    (onCheckBoxChange)="onCheckBoxChange($event, notification.id)"
    [createdAt]="notification.createdAt"
    [title]="notification.title"
    [content]="notification.content"
    imageUrl="assets/images/post.png"
    [showCheckbox]="showCheckbox"></app-notification-item>
  <!-- Message End -->
</a>
