<div class="form" *ngIf="assignment">
  <h1 class="title">Sửa bài tập</h1>
  <form (ngSubmit)="update()">
    <app-text-input-group
      icon="assignment"
      [required]="true"
      [label]="'Tiêu đề'"
      [(value)]="assignment.name"
      [name]="'name'"></app-text-input-group>
    <app-text-editor icon="description" label="Nội dung" [(value)]="assignment.description"></app-text-editor>
    <app-date-picker [label]="'Ngày hết hạn'" [name]="'dueDate'" [(value)]="assignment.dueDate"></app-date-picker>
    <app-primary-button [disabled]="!assignment.name?.trim()">Cập nhật</app-primary-button>
  </form>
</div>
