.comment {
  display: grid;
  gap: 14px;
  padding: 12px;
  .user-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .user {
      gap: 8px;
      align-items: center;
      display: flex;
      .avatar {
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid transparent;
        position: relative;
        border-radius: 100px;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        img {
          max-width: 100%;
          border-radius: 50%;
        }
        .stat {
          display: flex;
          position: absolute;
          right: -2px;
          bottom: -2px;
          display: block;
          width: 12px;
          height: 12px;
          z-index: 9;
          border: 2px solid #ffffff;
          border-radius: 100px;
          &.green {
            background: #00ba34;
          }
          &.grey {
            background: #969696;
          }
        }
      }
    }
  }
  .footer {
    gap: 12px;
    display: flex;
    align-items: center;
    .reactions {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    .divider {
      height: 12px;
      width: 1px;
      background: #e8e8e8;
    }
  }
  &:not(.comment:first-child) {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #e8e8e8;
  }
  & + & {
    padding-top: 12px;
  }
  &.reply {
    .user-banner,
    .content,
    .footer {
      margin-left: 32px;
    }
  }
}

.is-mute {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #969696;
}

a {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #1c1c1c;
  text-decoration: none;
  transition: opacity 0.15s ease-in-out;
  &:hover {
    opacity: 0.7;
  }
}
p {
  line-height: 24px;
}
