<app-comment
  (replyClick)="replying()"
  [avatarUrl]="comment.userImageUrl"
  [displayName]="comment.userDisplayName"
  [content]="comment.body"
  [dateAgo]="dateAgo"
  [depth]="comment.depth"></app-comment>

<div *ngIf="commentBoxVisiblity" [ngStyle]="{ 'margin-left': (comment.depth + 1) * 60 + 'px' }">
  <app-comment-textbox [(content)]="commentCreating.body" (comment)="reply()"></app-comment-textbox>
</div>

<div class="replies">
  <app-comment-box *ngFor="let comment of comment.replies" [comment]="comment"></app-comment-box>
</div>
