<div class="form">
  <h1 class="title">Tạo khóa học</h1>
  <form (ngSubmit)="onSubmit()">
    <app-text-input-group
      icon="school"
      (valueChange)="saveToTemporaryStorage()"
      [name]="'name'"
      [label]="'Tên'"
      [(value)]="dto.name"
      [required]="true"></app-text-input-group>
    <app-select-list
      icon="bar_chart"
      [required]="true"
      (onSelectedChange)="saveToTemporaryStorage()"
      [name]="'level'"
      [options]="levels"
      [label]="'Cấp độ'"
      [(selected)]="dto.levelId"></app-select-list>
    <app-textarea-group
      icon="description"
      (valueChange)="saveToTemporaryStorage()"
      [name]="'description'"
      [label]="'Mô tả'"
      [(value)]="dto.description"></app-textarea-group>
    <app-select-multiple-search
      icon="category"
      *ngIf="categories && categories.length > 0"
      (selectedChange)="saveToTemporaryStorage()"
      [placeholder]="'Danh mục'"
      [options]="categories"
      [(selected)]="dto.categoryIds"></app-select-multiple-search>
    <app-file-input-group
      icon="image"
      [accept]="'image/*'"
      [value]="image"
      (valueChange)="onFileInputChange($event)"
      [label]="'Hình ảnh'"></app-file-input-group>
    <app-number-input-group
      icon="schedule"
      (valueChange)="saveToTemporaryStorage()"
      [label]="'Giờ'"
      [name]="'hours'"
      [(value)]="dto.hours"></app-number-input-group>
    <div class="d-flex justify-content-end mt-3">
      <app-primary-button [disabled]="!dto.name?.trim() || !dto.levelId">Tạo</app-primary-button>
    </div>
  </form>
</div>
