<div class="question-option" [class.selected]="status === IQuestionOptionStatus.SELECTED">
  <div class="status-icon">
    <mat-icon *ngIf="status === IQuestionOptionStatus.CORRECT" class="correct">check_circle</mat-icon>
    <mat-icon *ngIf="status === IQuestionOptionStatus.INCORRECT" class="incorrect">cancel</mat-icon>
  </div>

  <p>
    {{ label }}
  </p>

  <div class="buttons">
    <mat-icon (click)="toggleCorrect()">autorenew</mat-icon>
    <mat-icon class="trash" (click)="removeClick()">delete</mat-icon>
  </div>
</div>
