<div class="header" *ngIf="statistic">
  <div class="status-count">
    <div>
      <div class="count-number">{{ statistic.submitCount }}</div>
      Đã nộp
    </div>
    <div class="vr"></div>
    <div>
      <div class="count-number">{{ statistic.correctCount }}</div>
      Nộp đúng
    </div>
    <div class="vr"></div>
    <div>
      <div class="count-number">{{ statistic.missingCount }}</div>
      Chưa nộp
    </div>
    <div class="vr"></div>
    <div>
      <div class="count-number">{{ statistic.lateCount }}</div>
      Nộp trễ
    </div>
  </div>
</div>
