<div class="form">
  <h1 class="title">Tạo danh mục</h1>
  <form (ngSubmit)="onSubmit()">
    <app-text-input-group
      (valueChange)="saveToTemporaryStorage()"
      icon="category"
      [name]="'name'"
      [label]="'Tên'"
      [(value)]="dto.name"
      [required]="true"></app-text-input-group>
    <app-textarea-group
      (valueChange)="saveToTemporaryStorage()"
      icon="description"
      [name]="'description'"
      [label]="'Mô tả'"
      [(value)]="dto.description"></app-textarea-group>

    <div class="d-flex justify-content-end mt-3">
      <app-primary-button [disabled]="!dto.name?.trim()">Tạo</app-primary-button>
    </div>
  </form>
</div>
