<div class="card">
  <div *ngIf="isEdit" class="card-tool">
    <input
      *ngIf="option.haveCheckbox"
      class="form-check-input"
      type="checkbox"
      [(ngModel)]="isCheck"
      (change)="check()"
      aria-label="Select" />
  </div>
  <div class="card-image" tabindex="0" [ngStyle]="{ background: getBackgroundStyle() }">
    <div *ngIf="!src" class="thumbnail-text">{{ thumnailText }}</div>
    <img *ngIf="src" [src]="src" />
  </div>
  <!-- <div class="card-description"> -->
  <!--   <h2>{{ name }}</h2> -->
  <!--   <p>{{ description }}</p> -->
  <!-- </div> -->
</div>
