<div class="card">
  <div *ngIf="isEdit" class="card-tool">
    <mat-icon *ngIf="option.haveDelete" (click)="deleteClick($event)">delete</mat-icon>
    <mat-icon *ngIf="option.haveClose" (click)="closeClick()">close</mat-icon>
    <input *ngIf="option.haveCheckbox" class="form-check-input" type="checkbox" [(ngModel)]="isCheck" (ngModelChange)="check()" />
  </div>
  <a class="card-image">
    <img [src]="src" [alt]="alt" />
  </a>
  <a class="card-description">
    <h2>{{ name }}</h2>
    <p>{{ description }}</p>
  </a>
</div>
