.card-image {
  background: #fff center center no-repeat;
  background-size: cover;
  img {
    display: block;
    width: 100%;
  }
}

.card-tool {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  mat-icon {
    font-size: 1.5rem;
  }
}

.card {
  position: relative;
  margin: 1rem;
  font-size: 1rem;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
  transition:
    transform 0.1s ease-in-out,
    box-shadow 0.1s;
}

.card:hover {
  transform: translateY(-0.5rem) scale(1.0125);
  box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
}

.card-description {
  display: block;
  padding: 1em 0.5em;
  color: #515151;
  text-decoration: none;
}

.card-description > h2 {
  margin: 0 0 0.5em;
}

.card-description > p {
  margin: 0;
}
