<div *ngIf="course" class="form">
  <h1 class="title">Cập nhật khóa học</h1>
  <form (ngSubmit)="update()">
    <app-text-input-group icon="school" [name]="'name'" [label]="'Tên'" [(value)]="dto.name" [required]="true"></app-text-input-group>
    <app-textarea-group icon="description" [name]="'description'" [label]="'Mô tả'" [(value)]="dto.description"></app-textarea-group>
    <app-select-multiple-search
      icon="category"
      [placeholder]="'Danh mục'"
      [options]="categories"
      [(selected)]="dto.categoryIds"></app-select-multiple-search>

    <app-file-input-group
      icon="image"
      [value]="image"
      (valueChange)="onFileInputChange($event)"
      [label]="'Hình ảnh'"></app-file-input-group>
    <app-select-list
      icon="bar_chart"
      [required]="true"
      [label]="'Cấp độ'"
      [options]="levels"
      [(selected)]="dto.levelId"
      [name]="'level'"></app-select-list>
    <app-number-input-group icon="schedule" [label]="'Giờ'" [(value)]="dto.hours" [name]="'hours'"></app-number-input-group>
    <app-primary-button [disabled]="!dto.name?.trim() || !dto.levelId">Cập nhật</app-primary-button>
  </form>
</div>
