<div *ngIf="category && courses">
  <div class="title">
    <h2>{{ category.name }}</h2>
    <app-course-toolbar
      *ngIf="!isStudent()"
      (addCourse)="routeToAddCourse()"
      (delete)="onDeleteCategory()"
      [categoryId]="category.id"></app-course-toolbar>
  </div>
  <div class="row">
    <app-course-cards [courses]="courses" [options]="courseCardOption" (onDelete)="deleteCourse($event)"></app-course-cards>

    <a
      *ngIf="courses.length !== 0"
      [routerLink]="['/category', category.id]"
      class="view-more link-opacity-100 text-center text-md-end d-block"
      role="button"
      >Xem thêm</a
    >
  </div>

  <mat-divider class="mb-3"></mat-divider>
</div>
