.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  h2 {
    font-weight: bold;
  }
}

.view-more {
  margin-left: auto;
  display: inline-block;
  text-align: right;
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
  font-style: italic;

  &:hover {
    text-decoration: underline;
  }
}
