<div *ngIf="category && courses">
  <div class="title">
    <h2>{{ category.name }}</h2>
    <app-course-toolbar
      *ngIf="!isStudent()"
      (addCourse)="routeToAddCourse()"
      (delete)="deleteCategory()"
      [categoryId]="category.id"></app-course-toolbar>
  </div>
  <div class="row">
    <app-course-cards
      [assignmentIcon]="assignmentIcon"
      [courses]="courses"
      [options]="courseCardOption"
      (onRemove)="removeCourseFromCategory($event)"
      (onDelete)="deleteCourse($event)"></app-course-cards>

    <a *ngIf="courses.length !== 0" [routerLink]="['/category', category.id]" class="view-more" role="button">Xem thêm</a>
  </div>

  <mat-divider class="mb-3"></mat-divider>
</div>
