.comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  .title {
    display: flex;
    align-items: flex-start;
    .tag {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 4px;
      background: #f7f7f7;
      color: #1c1c1c;
      text-align: center;
      padding: 0 4px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 10px;
      line-height: 16px;
      border: 1px solid #e8e8e8;
      border-radius: 96px;
    }
  }
}
.group-radio {
  position: relative;
  display: flex;
  user-select: none;
  align-items: stretch;
  .button-radio {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
    label {
      cursor: pointer;
      padding: 4px 8px;
      font-weight: 500;
      font-size: 14px;
      display: flex;
      height: 28px;
      align-items: center;
      line-height: 28px;
      transition: 0.2s ease;
    }
    &:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-left: 1px solid #e8e8e8;
      border-top: 1px solid #e8e8e8;
      border-bottom: 1px solid #e8e8e8;
    }
    &:last-child {
      border-top-right-radius: 8px;
      border-right: 1px solid #e8e8e8;
      border-top: 1px solid #e8e8e8;
      border-bottom: 1px solid #e8e8e8;
      border-bottom-right-radius: 8px;
    }
    input[type='radio'] {
      display: none;
      &:checked + label {
        background: #f7f7f7;
      }
    }
  }
  .divider {
    width: 1px;
    background: #e8e8e8;
  }
}
