.add {
  border: 1px dotted black;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  font-weight: bold;
}

.radio {
  display: flex;
  gap: 15px;
}

.update {
  position: relative;
  .close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
  }
}

.asterix:before {
  content: '*';
  color: red;
  margin-right: 5px;
  font-size: 30px;
  // push down
  vertical-align: -20%;
}
