.checked {
  background-color: rgba(0, 0, 0, 0.1); /* Slightly darker background */
  /* Additional styling for selected state */
}

.notification-lesson {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  padding: 10px;
  .header {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  // ...
  .content {
    // truncate
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
