<div *ngIf="notification" class="mb-3 p-3" [class.checked]="isChecked" (click)="routeToNotification(notification)">
  <div *ngIf="notification.commentOwnerId" class="d-flex align-items-center">
    <mat-checkbox name="notificationSelect" class="me-3" (change)="checkBoxChange($event)" (click)="$event.stopPropagation()" />
    <img
      [src]="notification.commentOwnerImageUrl || 'https://www.w3schools.com/bootstrap5/img_avatar4.png'"
      [alt]="notification.commentOwnerDisplayName"
      class="rounded-circle me-3"
      style="width: 40px" />
    <h3 class="dropdown-item-title mb-0">
      {{ notification.commentOwnerDisplayName }}
    </h3>
  </div>

  <div *ngIf="notification.courseId" class="d-flex align-items-center">
    <img
      [src]="
        'https://images.unsplash.com/photo-1633409361618-c73427e4e206?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
      "
      [alt]="notification.courseName"
      class="rounded-circle me-3"
      style="width: 40px" />

    <h3 class="dropdown-item-title mb-0">
      {{ notification.courseName }}
    </h3>
  </div>

  <div>
    <p class="text-sm mb-0">{{ notification.content }}</p>
    <p class="text-sm text-muted mb-0"><mat-icon class="me-1 align-middle">access_time</mat-icon> {{ dateAgo(notification) }}</p>
  </div>
</div>
<mat-divider></mat-divider>
