<div role="button" class="notification">
  <div class="header">
    <mat-checkbox
      *ngIf="showCheckbox"
      name="notificationSelect"
      class="me-3"
      (change)="checkBoxChange($event)"
      (click)="$event.stopPropagation()" />
    <img [src]="getAvatarUrl()" class="rounded-circle me-3" style="width: 40px" />
    <h3 class="dropdown-item-title mb-0">
      {{ title }}
    </h3>
  </div>

  <div>
    <p class="text-sm mb-0">{{ content }}</p>
    <p class="text-sm text-muted mb-0"><mat-icon class="me-1 align-middle">access_time</mat-icon> {{ dateAgo() }}</p>
  </div>
</div>
