<form *ngIf="question">
  <h1 class="title">Cập nhật câu hỏi</h1>
  <app-text-input-group [label]="'Tiêu đề'" [(value)]="dto.text" [name]="'text'" [required]="true"></app-text-input-group>

  <app-select-list
    [options]="difficulties"
    [(selected)]="dto.difficultyId"
    [label]="'Độ khó'"
    [name]="'difficulty'"
    [required]="true"></app-select-list>

  <app-question-option-update
    [required]="true"
    [(options)]="question.options"
    [(createOptions)]="dto.options"
    [(removeOptionIds)]="dto.removeOptionIds"
    [label]="'Câu trả lời'"
    [name]="'option'"></app-question-option-update>

  <div class="d-flex">
    <app-primary-button (click)="update()">Cập nhật</app-primary-button>
  </div>
</form>
