<div class="form">
  <h1 class="title">Cập nhật câu hỏi</h1>
  <form *ngIf="question" (ngSubmit)="update()">
    <app-text-input-group
      icon="help_outline"
      [label]="'Tiêu đề'"
      [(value)]="dto.text"
      [name]="'text'"
      [required]="true"></app-text-input-group>

    <app-select-list
      icon="star"
      [options]="difficulties"
      [(selected)]="dto.difficultyId"
      [label]="'Độ khó'"
      [name]="'difficulty'"
      [required]="true"></app-select-list>

    <app-question-option-update
      icon="list"
      [required]="true"
      [(options)]="question.options"
      [(createOptions)]="dto.createOptions"
      [(removeOptionIds)]="dto.removeOptionIds"
      [(updateOptions)]="updateOptions"
      [label]="'Câu trả lời'"
      [name]="'option'"></app-question-option-update>

    <div class="d-flex justify-content-end">
      <app-primary-button [disabled]="!dto.text?.trim() || !dto.difficultyId || !question.options.length" type="submit"
        >Cập nhật</app-primary-button
      >
      <app-secondary-button (click)="restore()" type="button">Khôi phục</app-secondary-button>
    </div>
  </form>
</div>
