<div class="assignment-detail" *ngIf="assignment">
  <a
    [routerLink]="['/course', assignment.courseId, 'section', assignment.sectionId, 'lesson', assignment.lessonId, 'assignment']"
    class="go-back">
    <mat-icon class="icon">arrow_back</mat-icon>
    {{ assignment.lessonTitle }}</a
  >

  <div class="container">
    <div class="text">
      <div class="assignment-header">
        <mat-icon class="assignment-icon">assignment</mat-icon>
        <div class="assignment-info">
          <h1 class="assignment-title">
            {{ assignment.name }}
            <mat-icon
              *ngIf="!isStudent() && isYourCourse()"
              [routerLink]="['/assignment', assignment.id, 'edit']"
              role="button"
              class="align-middle edit"
              >edit</mat-icon
            >
          </h1>
          <p class="assignment-subtitle">{{ assignment.createdByDisplayName }} • {{ assignment.dueDate | date: 'dd/MM/yyyy, h:mm' }}</p>
          <p class="assignment-points" *ngIf="isStudent() && assignment.submissionGrade">{{ assignment.submissionGrade }} điểm</p>
        </div>
      </div>
      <app-text-editor-viewer class="assignment-description" [value]="assignment.description"></app-text-editor-viewer>
    </div>

    <app-assignment-submit-box
      *ngIf="isStudent()"
      [assignment]="assignment"
      [(submission)]="submission"
      class="submit"></app-assignment-submit-box>
  </div>
</div>

<app-assignment-report *ngIf="showReport()" [assignmentId]="assignmentId"></app-assignment-report>
