<div class="assignment-container" *ngIf="assignment">
  <div class="text">
    <div class="assignment-header">
      <mat-icon class="assignment-icon">assignment</mat-icon>
      <div class="assignment-info">
        <h1 class="assignment-title">
          {{ assignment.name }}
          <mat-icon *ngIf="!isStudent()" [routerLink]="['/assignment', assignment.id, 'edit']" role="button" class="align-middle"
            >edit</mat-icon
          >
        </h1>
        <p class="assignment-subtitle">{{ assignment.createdByDisplayName }} • {{ assignment.dueDate | date: 'dd/MM/yyyy' }}</p>
        <p class="assignment-points">100 points</p>
      </div>
    </div>
    <div class="assignment-body">
      <p class="assignment-description">{{ assignment.description }}</p>
    </div>
  </div>

  <app-assignment-submit [assignmentId]="assignmentId" [(attachment)]="attachment" class="submit"></app-assignment-submit>
</div>
