<app-comment-item
  *ngIf="!isEditing"
  [comment]="comment"
  [highlighted]="highlighted"
  (minimizeClick)="minimizeComments()"
  (expandClick)="expandComments()"
  (replyClick)="toggleReply()"
  (editClick)="toggleEdit()"
  (deleteClick)="delete()"
  ge></app-comment-item>

<div *ngIf="isEditing" [ngStyle]="{ 'margin-left': comment.depth * 60 + 'px' }">
  <app-comment-textbox [(content)]="comment.body" (comment)="edit()" (cancel)="cancelEdit()"></app-comment-textbox>
</div>

<div *ngIf="commentBoxVisiblity" [ngStyle]="{ 'margin-left': (comment.depth + 1) * 60 + 'px' }">
  <app-comment-textbox [(content)]="commentCreating.body" (comment)="reply()" (cancel)="clearReply()"></app-comment-textbox>
</div>

<div *ngIf="comment.depth === 2" class="load">
  <span role="button" (click)="routeCommentDetail()">Tải thêm...</span>
</div>

<div *ngIf="comment.replies && !isEditing && replyCommentsVisibility && comment.depth < 2" class="replies">
  <app-comment-box
    [highlighted]="reply.id === highlightedCommentId"
    (onDelete)="handleDelete(reply.id)"
    *ngFor="let reply of comment.replies"
    [comment]="reply"></app-comment-box>
</div>
