<div *ngIf="lesson" class="lesson-detail">
  <h1>{{ lesson.title }}</h1>
  <div class="body grid">
    <div *ngIf="lesson.videoUrl" class="lesson-video grid-item box_1">
      <app-video class="video" [videoUrl]="lesson.videoUrl"></app-video>
    </div>

    <div class="grid-item box_2">
      <nav mat-tab-nav-bar>
        <a
          mat-tab-link
          *ngFor="let link of navLinks"
          [routerLink]="link.link"
          routerLinkActive
          #rla="routerLinkActive"
          [active]="rla.isActive">
          {{ link.label }}
        </a>
      </nav>

      <router-outlet></router-outlet>
    </div>

    <div class="section-list grid-item box_3">
      <app-course-section-list></app-course-section-list>
    </div>
  </div>
</div>
