<div *ngIf="lesson" class="lesson-detail">
  <div class="header">
    <h1 class="title">
      <mat-icon class="icon" (click)="goBack()">arrow_back</mat-icon>
      {{ lesson.title }}
      <mat-icon *ngIf="!isStudent() && isYourCourse()" class="icon" (click)="routeToEdit($event)">edit</mat-icon>
    </h1>
  </div>
  <div class="body">
    <div class="left">
      <div *ngIf="lesson.videoUrl" class="content video">
        <app-video [videoUrl]="lesson.videoUrl"></app-video>
      </div>
      <div class="content info">
        <nav mat-tab-nav-bar [tabPanel]="tabPanel">
          <a
            mat-tab-link
            *ngFor="let link of navLinks"
            [routerLink]="link.link"
            routerLinkActive="active"
            #rla="routerLinkActive"
            [routerLinkActiveOptions]="{ exact: true }">
            {{ link.label }}
          </a>
        </nav>
        <mat-tab-nav-panel #tabPanel>
          <div class="panel">
            <router-outlet></router-outlet>
          </div>
        </mat-tab-nav-panel>
      </div>
    </div>
    <div class="right">
      <h4 class="list-title">Nội dung khóa học</h4>
      <app-course-section-list [courseId]="courseId" [isYourCourse]="isYourCourse()"></app-course-section-list>
    </div>
  </div>
</div>
