.lesson-detail {
  .header {
    background: #29303b;
    color: #fff;
    padding: 15px;
    .title {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .body {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas:
      'video video video list list'
      'video video video list list'
      'info info info list list';

    .grid-item {
      font-size: 30px;
    }

    .video {
      grid-area: video;
      background: black;

      &.grid-item {
        // Specific styles for video grid-item if needed
      }
    }

    .info {
      grid-area: info;
      font-size: 30px; // Assuming you want to keep font-size consistent with .grid-item
      min-height: 500px;

      .nav {
        margin-bottom: 20px;

        a {
          // Styles for the nav links if needed
        }
      }
    }

    .section-list {
      grid-area: list;
      flex: 1;
      font-size: 20px;
      .list-title {
        font-size: 20px;
        font-weight: bold;
        padding: 10px 15px;
      }
    }
  }
}

.panel {
  padding: 10px 30px;
}

.icon {
  vertical-align: middle;
}

@media only screen and (max-width: 768px) {
  .lesson-detail {
    .body {
      flex-direction: column;

      .list {
        display: none;
      }
    }
  }
}
