<div class="detail" *ngIf="course">
  <app-course-detail-header class="header" [course]="course" class="mb-3"></app-course-detail-header>
  <app-course-detail-sidebar
    (onUnRegisterClick)="unRegister()"
    (onRegisterClick)="register()"
    [isRegisted]="isRegistered"
    class="sidebar"
    [course]="course"></app-course-detail-sidebar>

  <div class="outcome mb-3">
    <div class="mb-2 d-flex">
      <h5>Bạn sẽ học được gì?</h5>
      <div>
        <mat-icon *ngIf="!showOutcomeTextbox" class="add-icon" (click)="showOutcomeTextbox = true">add</mat-icon>
        <mat-icon *ngIf="showOutcomeTextbox" class="minus-icon" (click)="showOutcomeTextbox = false">remove</mat-icon>
      </div>
    </div>

    <div *ngIf="showOutcomeTextbox" class="outcome-box">
      <app-text-input-group [(value)]="courseOutcomeName"></app-text-input-group>
      <app-secondary-button (click)="createOutcome()">Thêm</app-secondary-button>
    </div>

    <app-course-outcome-list [outcomes]="outcomes"></app-course-outcome-list>
  </div>

  <div class="list">
    <h5 class="mb-2">Nội dung khóa học</h5>
    <p class="mb-1">{{ course.sectionCount }} chương • {{ course.lessonCount }} bài học</p>
    <app-course-section-list [courseId]="courseId" [courseCreatedById]="course.createdBy"></app-course-section-list>
  </div>
</div>
