<div *ngIf="questionCategory">
  <div class="header">
    <h1>{{ questionCategory.name }}</h1>
    <div class="d-flex">
      <app-primary-button [routerLink]="['/question/create']" [queryParams]="{ questionCategoryId: questionCategoryId }"
        >Tạo câu hỏi</app-primary-button
      >
    </div>
  </div>

  <app-question-list
    [showEdit]="true"
    [showTrash]="true"
    [questionCategoryId]="questionCategoryId"
    (onEdit)="routeToQuestion($event)"
    (onDelete)="deleteQuestion($event)"></app-question-list>
</div>
