<div class="work-card">
  <div class="work-header">
    <h2>Bài nộp của bạn</h2>
    <div>
      <span *ngIf="isMissing" class="status-missing">Quá hạn</span>
      <span *ngIf="submission && !isMissing" class="status-completed">Đã nộp</span>
      <span *ngIf="!submission && !isMissing" class="status-in-progress">Chưa nộp</span>
    </div>
  </div>
  <app-file-submission [isMissing]="submission && isMissing()" [submission]="submission" (onDelete)="delete()"></app-file-submission>

  <app-file-input-group
    *ngIf="!submission"
    [value]="file"
    (valueChange)="onFileInputChange($event)"
    [label]="'Nộp bài'"></app-file-input-group>

  <app-primary-button *ngIf="!submission" (click)="submit()">Nộp bài</app-primary-button>
</div>
