.detail {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  .document {
    width: 90%;
  }
}
.student {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.student-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
