<div role="button" class="notification-comment" (click)="route()">
  <div class="header">
    <mat-checkbox
      *ngIf="showCheckbox"
      name="notificationSelect"
      class="me-3"
      (change)="checkBoxChange($event)"
      (click)="$event.stopPropagation()" />
    <img
      [src]="notification.commentOwnerImageUrl || 'https://www.w3schools.com/bootstrap5/img_avatar4.png'"
      [alt]="notification.commentOwnerDisplayName"
      class="rounded-circle me-3"
      style="width: 40px" />
    <h3 class="dropdown-item-title mb-0">
      {{ notification.commentOwnerDisplayName }}
    </h3>
  </div>

  <div>
    <p class="text-sm mb-0">{{ notification.content }}</p>
    <p class="text-sm text-muted mb-0"><mat-icon class="me-1 align-middle">access_time</mat-icon> {{ dateAgo(notification) }}</p>
  </div>
</div>
