<div *ngIf="exercise">
  <app-exercise-detail-header
    (onRemoveClicked)="removeQuestionsFromExercise()"
    (onActivateClicked)="activateExercise()"
    [totalItems]="totalItems"
    [exercise]="exercise"
    [exerciseId]="exerciseId"
    [selectedQuestionIds]="selectedQuestionIds"
    [isStudent]="isStudent()"></app-exercise-detail-header>

  <div>
    <app-question-list
      *ngIf="!isStudent()"
      #questionList
      [showTrash]="false"
      [(totalItems)]="totalItems"
      [(selectedQuestionIds)]="selectedQuestionIds"
      [showCheckBox]="true"
      (onEdit)="routeToQuestion($event)"
      [exerciseId]="exerciseId"></app-question-list>

    <app-student-question-list *ngIf="isStudent()" [exerciseId]="exerciseId"></app-student-question-list>
  </div>
</div>
