<!-- <app-expansion-list -->
<!--   [showIcons]="showIcons" -->
<!--   [expandIcon]="true" -->
<!--   [editIcon]="true" -->
<!--   [deleteIcon]="true" -->
<!--   [addIcon]="true" -->
<!--   (delete)="delete()" -->
<!--   [editRoute]="'/course/' + courseId + '/section/' + section.id" -->
<!--   [addRoute]="'/course/' + courseId + '/section/' + section.id + '/lesson'" -->
<!--   [title]="section.name" -->
<!--   [items]="lessonItems" -->
<!--   (editClicked)="editLesson($event)" -->
<!--   (itemClicked)="navigateToDetail($event)"></app-expansion-list> -->
<div>
  <div class="item" (click)="toggle = !toggle">
    <a matLine>
      <span class="me-2" *ngIf="showIcons">
        <mat-icon class="align-middle" *ngIf="!toggle">expand_more</mat-icon>
        <mat-icon class="align-middle" *ngIf="toggle">expand_less</mat-icon>
      </span>
      <span class="fw-bold">
        {{ section.name }}
      </span>
    </a>
    <span *ngIf="showIcons" class="align-middle">
      <mat-icon [routerLink]="'/course/' + courseId + '/section/' + section.id">edit</mat-icon>
      <mat-icon (click)="delete($event)">delete</mat-icon>
      <mat-icon [routerLink]="'/course/' + courseId + '/section/' + section.id + '/lesson'">add</mat-icon>
    </span>
  </div>
  <div [@expandCollapse]="toggle ? 'expanded' : 'collapsed'">
    <!-- <app-basic-list -->
    <!--   class="item-list" -->
    <!--   (itemClick)="navigateToDetail($event)" -->
    <!--   (editClick)="editLesson($event)" -->
    <!--   [editIcon]="showIcons" -->
    <!--   [items]="section.lessons"></app-basic-list> -->
    <app-course-lesson-item [isStudent]="isStudent" [sectionId]="section.id" [lessons]="section.lessons"></app-course-lesson-item>
  </div>
</div>
