<div class="container">
  <div class="row">
    <app-course-card
      class="col-6 col-md-4"
      (onAssignmentClick)="assignmentClick(course.id)"
      (onDelete)="delete(course.id)"
      (onRemove)="remove(course.id)"
      *ngFor="let course of courses"
      [assignmentIcon]="assignmentIcon"
      [routerLink]="['/course', course.id]"
      [showStudentCount]="showStudentCount"
      [course]="course"
      [isEdit]="!isStudent()"
      [option]="options"></app-course-card>
  </div>
</div>
